{% extends 'base.html' %}
{% load static %}

{% block title %}História - Crioulas FC{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style_historia.css' %}">
{% endblock %}

{% block content %}

    <div class="page-container">
        
        <div class="side-bar">
            <span>PROJETOS SOCIAIS</span>
            <span>PARCEIROS</span>
        </div>

        <main class="content-split">
            
            <div class="left-image"></div> 
            
            <div class="right-content">
                <h2 class="section-title">A HISTÓRIA DAS <br> <span class="highlight">CRIOULAS</span></h2>

                <div class="scrollable-text-box">
                    <p>
                        O Crioulas Esporte Comunitário nasceu da força e da necessidade de representatividade. Em Conceição das Crioulas, o chão batido sempre contou histórias...
                    </p>
                    <p>
                        <strong>A Fundação</strong><br>
                        Tudo começou com a união das mulheres que queriam ocupar espaços antes dominados apenas pelos homens. O futsal se tornou nossa ferramenta de expressão.
                    </p>
                    <p>
                        <strong>As Cores</strong><br>
                        O Roxo e o Rosa não são apenas estética; representam a luta feminista e a vitalidade da mulher quilombola.
                    </p>
                    </div>
            </div>
        </main>
    </div>

{% endblock %}