<a href="/" class="logo-global">CRIOULAS <span>FC</span></a>

<nav class="navbar-custom">
    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">HOME</a>
    <a href="{% url 'historia:index' %}" class="{% if 'historia' in request.path %}active{% endif %}">HISTÓRIA</a>
    <a href="{% url 'conquistas:index' %}" class="{% if 'conquistas' in request.path %}active{% endif %}">CONQUISTAS</a>
    <a href="{% url 'conquistas:painel' %}" class="{% if 'painel' in request.path or 'accounts' in request.path %}active{% endif %}">
        {% if user.is_authenticated %}
            PAINEL
        {% else %}
            LOGIN
        {% endif %}
    </a>
</nav>